<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title><%= project %></title>
	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	
	<link href="/css/style.css" rel="stylesheet">

	<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC_CCb3QZEVi6VDLUJ8v3EgQvPe0ZWKD4o&sensor=false"></script>
	
	<script src="/lib/geojson-utils.js" type="text/javascript" charset="utf-8"></script>		
	<script src="/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/lib/underscore.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
	
</head>
<body>
	<div id="prompt" class="container jumbotron">
		<form>
			<p class="what">What neighborhood is</p>
			<input type="text" name="location" id="location" placeholder="address">
			<p><a href="#in">in?</a></p>

			<p>(or text <strong>802-318-4573</strong>)</p>
		</form>
	</div>

	<div id="map"></div>

	<div id="name" class="container"><p></p></div>
	
</body>

</html>